.win-pivot .win-pivot-surface {
    height: 90vh;
}

.win-pivot .win-pivot-viewport {
    padding-top: 0px;
    /*margin-top: 98px;*/
}

.win-pivot-item .win-pivot-item-content {
    padding: 0px;
    width: 100%;
}

.win-pivot-item {
    top: 5px;
}

.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.hubpage div[role=tablist] div.win-pivot-headers {
    display: none;
}

.hubpage .hub {
    height: 100%;
}

    .hubpage .hub .win-hub-surface {
        height: 100%;
    }

    .hubpage .hub .section {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }
        
.label-extralarge {
    font-size: 28pt;
    opacity: 1.0;
    line-height: 30pt;
}

.label-medium {
    font-size: 15pt;
    line-height: 17.5pt;
}

.label-mediummid {
    font-size: 15pt;
    line-height: 17.5pt;
}
