.win-pivot .win-pivot-surface, .win-listview, .win-semanticzoom {
    height: 90vh;
}

.win-pivot .win-pivot-viewport {
    padding-top: 0px;
    /*margin-top: 98px;*/
}

.win-listview > .win-vertical .win-container {
    margin: 0 3vw;
}

.hub .win-pivot-item .win-pivot-item-content {
    padding: 0px;
    width: 100%;
}

.win-pivot-item {
    top: 0;
}

.hubpage header[role=banner] .icons {
    margin-right: 5vw;
    font-size: 16pt;
}

.hubpage header[role=banner] .icons a {
    padding-left: 30px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.hubpage header[role=banner] .icons a.selected {
    opacity: 1;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
    position: relative;
}

.hubpage div[role=tablist] div.win-pivot-headers {
    display: none;
}

.hubpage section[role=main] progress {
    position: absolute;
    top: -5px;
    margin: 0;
    width: 100%;
    display: none;
    color: #07BFA1;
}

.hubpage .hub {
    height: 100%;
}

    .hubpage .hub .win-hub-surface {
        height: 100%;
    }

    .hubpage .hub .section {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }

.list_item {
    color: #333;
    font-size: 1.9em;
    padding: 10px 5px;
    font-weight: 300;
}

.win-listview.win-groups > .win-vertical .win-surface.win-listlayout, .win-listview.win-groups > .win-vertical .win-surface.win-gridlayout {
    margin-top: 0;
}

.win-listview.win-groups .win-vertical .win-listlayout .win-groupleader, .win-listview.win-groups .win-vertical .win-gridlayout .win-groupleader {
    margin-top: 5px;
}

.win-semanticzoom-zoomedoutview {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    height: 100vh !important;
    z-index: 2 !important;
    padding-top: 5px;
}


.win-semanticzoom-zoomedoutview .win-gridlayout .win-itemscontainer {
    width: 98vw !important;
    padding: 0 1vw !important;
}

.win-semanticzoom-zoomedoutview .win-gridlayout .win-itemsblock {
    flex-flow: row wrap !important;
    width: 100%;
}

.win-semanticzoom-zoomedoutview .semanticzoom_block {
    padding: 25px 20px 5px 5px;
    background: #07BFA1;
    color: #fff;
    display: inline-block;
    text-transform: lowercase;
    font-size: 2.5em;
    width: 15vw;
}

.win-semanticzoom-zoomedoutview .semanticzoom_block.disabled {
    background: #626262;
}

.win-semanticzoom-zoomedinview .semanticzoom_block {
    margin-left: calc(3vw + 4px);
    padding: 15px 0 5px 5px;
    background: #07BFA1;
    color: #fff;
    display: inline-block;
    text-transform: lowercase;
    width: 1.7em;
}
        
.label-extralarge {
    font-size: 28pt;
    opacity: 1.0;
    line-height: 30pt;
}

.label-medium {
    font-size: 15pt;
    line-height: 17.5pt;
}

.label-mediummid {
    font-size: 15pt;
    line-height: 17.5pt;
}
