.win-pivot .win-pivot-surface {
    height: 90vh;
}

.win-pivot .win-pivot-viewport {
    padding-top: 0px;
    /*margin-top: 98px;*/
}

.hub .win-pivot-item .win-pivot-item-content {
    padding: 0px;
    width: 100%;
}

.win-pivot-item {
    top: 5px;
}

.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
    position: relative;
}

.hubpage div[role=tablist] div.win-pivot-headers {
    display: none;
}

.hubpage section[role=main] progress {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    display: none;
    color: #07BFA1;
}

.hubpage .hub {
    height: 100%;
}

    .hubpage .hub .win-hub-surface {
        height: 100%;
    }

    .hubpage .hub .section {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }

#nearby_yaks_none {
    display: none;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #666;
    text-align: center;
    font-size: 1.4em;
    margin: 0;
}

p.placeholder {
    padding: 20px;
    margin: 0;
    font-size: 1.6em;
}
        
.label-extralarge {
    font-size: 28pt;
    opacity: 1.0;
    line-height: 30pt;
}

.label-medium {
    font-size: 15pt;
    line-height: 17.5pt;
}

.label-mediummid {
    font-size: 15pt;
    line-height: 17.5pt;
}
