#yak_detail {
    height: auto;
    padding: 5px 3vw 0 3vw;
    overflow: hidden;
    background: #fff;
    flex-shrink: 0;
}

#yak_comments {
    flex-grow: 2;
    height: auto;
}

#comments_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
}

#comments_progress {
    margin: 0;
    width: 100%;
    display: none;
    color: #07BFA1;
}

#map {
    position: relative;
    width: 100%;
    height: 200px;
}