#contenthost {
	background-color: gray;
}

.fragment header[role=banner] {
	/* Define a grid with columns for the back button and page title. */
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
	display: -ms-grid;
	height: 10vh;
    background: #08d7b5;
    color: #fff;
}

	.fragment header[role=banner] .win-navigation-backbutton {
		visibility: hidden;
	}

	.fragment header[role=banner] .backbutton {
		visibility: hidden;
	}

	.fragment header[role=banner] .titlearea {
		-ms-grid-column: 1;
		margin-top: 10px;
		margin-left: 20px;
		font-size: 20pt;
		overflow: visible;
	}

		.fragment header[role=banner] .titlearea .pagetitle {
			width: calc(100% - 20px);
            font-weight: 400;
		}

.win-appbar {
    background-color: #e5e5e5;
}

.win-appbar .win-commandimage {
    color: #57e2ca;
}

.win-appbar .win-commandring {
    border-color: #57e2ca;
}