#contenthost {
    background-color: #fff;
}

header[role=banner] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background: #08d7b5;
    color: #fff;
    margin-bottom: 5px;
}

    header[role=banner] .win-navigation-backbutton {
        visibility: hidden;
    }

    header[role=banner] .backbutton {
        visibility: hidden;
    }

    header[role=banner] .titlearea {
        margin-left: calc(3vw + 5px);
        font-size: 20pt;
        overflow: visible;
    }

        header[role=banner] .titlearea .pagetitle {
            /*width: calc(100% - 20px);*/
            font-weight: 400;
        }

.win-appbar {
    background-color: #e5e5e5;
}

.win-appbar .win-commandimage {
    color: #57e2ca;
}

.win-appbar .win-commandring {
    border-color: #57e2ca;
}

.clear {
    clear: both;
}
