.settings .win-pivot .win-pivot-surface {
    height: 100vh;
}

.settings .win-pivot .win-pivot-viewport {
    padding-top: 0px;
    margin-top: 98px;
}

.settings .win-pivot .win-pivot-item {
    top: 5px;
}

.settings section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
    margin-top: 15px;
}

.settings div[role=tablist] div.win-pivot-title {
    color: #07BFA1;
    text-transform: uppercase;
}

.settings div[role=tablist] div.win-pivot-headers button {
    font-size: 4em;
    color: #08d7b5;
}

.settings .settings_pivot {
    height: 100%;
}

.settings_pivot .win-pivot-item-content {
    margin: auto 0;
    font-size: 1.4em;
    font-weight: 300;
    width: auto;
}

.settings_pivot .win-pivot-item-content * {
    padding: 0;
    margin: 0;
}

.settings_pivot .win-pivot-item-content h4 {
    /*margin-top: 20px;*/
    font-size: 1.4em;
    font-weight: 300;
}

.settings_pivot #settings_general p {
    font-size: 0.9em;
    color: #888;
    padding: 5px 5px 5px 0;
    margin-bottom: 10px;
}

.settings_pivot #settings_about p {
    margin-bottom: 20px;
}

.settings_pivot .win-pivot-item-content label {
    margin-bottom: 4px;
    display: block;
}

.settings_pivot .win-pivot-item-content button {
    padding: 4px 8px;
    margin: 10px 10px 0 0;
}

.settings_pivot #yak_id {
    font-weight: 600;
    font-size: .9em;
    height: .9em;
    margin-bottom: 8px;
}
