#peek_feed {
    height: 90vh;
}

section[role=main] {
    position: relative;
}

#peek_progress {
    position: absolute;
    top: -5px;
    margin: 0;
    width: 100%;
    display: none;
    color: #07BFA1;
}

#peek_feed .yak_up, #peek_feed .yak_down {
    color: white !important;
    text-shadow: -1px -1px 0px #ccc, 1px -1px 0px #ccc, -1px 1px 0px #ccc, 1px 1px 0px #ccc;
}